# Site/server stuff
.maintenance
.user.ini
.well-known/

# Project dependencies
/node_modules/
/vendor/

# Environment & config
.env

# Build artifacts
dist/
build/
bin/
obj/

# IDE / OS artifacts
.DS_Store
Thumbs.db
*.swp
*.log

# Project-specific folders outside wp
OldBlazorReference/
blazorapp/
blazor-publish/
/backup
