@inherits LayoutComponentBase

@using BlazorWP.Data
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="badge bg-info ms-3">
                @(Flags.Mode == AppMode.Basic ? "Basic mode" : "Full mode")
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] private AppFlags Flags { get; set; } = default!;
}
