@page "/diagnostics"
<PageTitle>Diagnostics</PageTitle>
<h3>Diagnostics</h3>

<table class="table">
    <thead>
        <tr><th>Key</th><th>Value</th></tr>
    </thead>
    <tbody>
        @foreach (var setting in _settings)
        {
            <tr>
                <td>@setting.Key</td>
                <td>@setting.Value</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Inject]
    private IConfiguration Configuration { get; set; } = default!;

    private IEnumerable<KeyValuePair<string, string?>> _settings = Array.Empty<KeyValuePair<string, string?>>();

    protected override void OnInitialized()
    {
        _settings = Configuration.AsEnumerable().Where(kv => kv.Value != null).OrderBy(kv => kv.Key);
    }
}
